:root{
    --main : #E63946;
    --white : #F1FAEE;
    --light: #A8DADC;
    --mid: #457B9D;
    --dark: #1D3557;
    --green: #38e038;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}


body,html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    background-color: var(--dark);
    padding: 1vh 2vw 2vh 2vh;
}

.logo{
    height: 3rem;
    width: auto;
    fill: var(--main);
}

header h1{
    position: relative;
    bottom: -0.8rem;
}

.content{
    padding: 2vmin;
    gap: 2vmin;
    display: grid;
    justify-content: stretch;
    align-items: str;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: 400px;
    grid-auto-rows: 400px;
    background-color: var(--mid);
    flex: 1;
}

footer{
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    background-color: var(--dark);
}

.add-book{
    background-color: transparent;
    border: none;
    color: var(--white);
	padding: 0;
	font: inherit;
    font-weight: 1000;
	cursor: pointer;
	outline: inherit;
    margin-left: auto;
    margin-top: 1rem;
    height: 4rem;
    width: 4rem;
    transform: scale();
    transition: scale;
    transition-duration: 0.2s;
    align-self: flex-end;
}


input{
    text-align: center;
    font-weight: 1000;
    outline: none;
    border: none;
    background-color: transparent;
    border: 5px solid var(--dark);
    border-radius: 15px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

label{
    font-weight: 600;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: var(--white);
    transition-duration: 0.1s;
}
a:hover{
    font-weight: 1000;
    color: var(--main);
}


.add-book:hover{
    scale: 1.2;
}

.add-book:active{
    scale: 1;
}

button{
    min-width: 100px;
}

button:hover{
    scale: 1.05;
}

button:active{
    scale: 1;
}

.add-book svg{
    fill:var(--white)
}

.add-book svg:hover{
    fill:var(--main)
}

.book *{
    text-align: center;
    color: var(--dark);
}

.book h2{
    font-weight: 1000;
    font-size: 1.5rem;
}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--white);
    border-radius: 40px;
}

.author{
    font-weight: 700;
}

hr{
    border: none;
    margin: 20px 10px;
    width: 100%;
    height: 5px;
    background-color: var(--dark);
    
}

.buttons{
    margin-top: auto;

}

.buttons button{

	padding: 20px;
    margin: 0px 5px;
	font: inherit;
    border-radius: 20px;
    font-weight: 1000;
	cursor: pointer;
	outline: inherit;
    transform: scale();
    transition: scale;
    transition-duration: 0.2s;
    align-self: flex-end;
}

.buttons .finished{
    background-color: var(--green);
    border: 5px solid var(--green);
    color: var(--dark);
}

.submit{
    background-color: var(--green);
    border: 5px solid var(--green);
    padding: 20px;
    margin: 0px 5px;
	font: inherit;
    border-radius: 20px;
    font-weight: 1000;
	cursor: pointer;
	outline: inherit;
    transform: scale();
    transition: scale;
    transition-duration: 0.2s;
}

.cancel{
    background-color: var(--main);
    border: 5px solid var(--main);
    padding: 20px;
    margin: 0px 5px;
	font: inherit;
    border-radius: 20px;
    font-weight: 1000;
	cursor: pointer;
	outline: inherit;
    transform: scale();
    transition: scale;
    transition-duration: 0.2s;
}

.buttons .finished.false{
    background-color: var(--main);
    border-color: var(--main);
}
 
.buttons .remove{
    border: 5px solid var(--main);
    background-color: transparent;
}
.bookTemplate{
    position: absolute;
    scale: 0;
    user-select: none;
}

.popup h2{
    margin-bottom: 30px;
    color: var(--dark);
}

.popup{

    display: flex;
    flex-direction: column;
    position: absolute;
    scale: 0;
    top: 50%;
    left: 50%;
    background-color: var(--white);
    align-items: center;
    padding: 60px 20px;
    z-index: 3;
    border-radius: 20px;
    transition: all 0.3s;
}

.sure{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    width: 300px;
    gap : 50px;
    scale: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--white);
    align-items: center;
    padding: 50px 50px;
    z-index: 3;
    border-radius: 20px;
    transition: all 0.3s;
}

.sure.visible{
    scale: 1;
}

.popup *,
.sure *{
    color: var(--dark);
}

.popup.visible{
    transform-origin: center;
    transform: translate(-50%, -50%);
    scale: 1;
    display: flex;
}


#overlay {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay.visible{
    display: block;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #999999;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #636363;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }